@{
    Layout = "_Layout";
    var host = (HostDto)ViewData["user"];
    var seohelp = (SeoHelpDto)ViewData["seohelp"];
    ViewData["Title"] = seohelp.Title;
    var userId = 0;
    if (User.Identity.IsAuthenticated)
    {
        userId = int.Parse(User.Identity.Name);
    }
}
@section metatags {
    <meta name='description' content='@seohelp.Description' />
}
    @section OpenGraph {
    <meta property="og:url" content="@seohelp.WebAddress" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content=@seohelp.Title />
    <meta property="og:description" content=@seohelp.Description />
    <meta property="og:image" content="@Url.Content(seohelp.Image)" />I
}
    <section class="person-wrap">
        <div class="container d-block d-lg-flex">
            <div class="person-aside-wrap container">
                <div class="person-pic">
                    <img src="@Url.Content(host.AvatarUrl)" alt="">
                </div>
                <div class="person-box">
                    <div class="person-txt">
                        <i class="fa-solid fa-user"></i>
                        <p>身分已驗證</p>
                    </div>
                    <div class="person-txt">
                        <i class="fa-solid fa-star"></i>
                        <p>超讚房東</p>
                    </div>
                </div>
                <div class="person-box">
                    <p>@host.HostName 已確認</p>
                    <div class="person-txt">
                        <span class="material-symbols-outlined">
                            Done
                        </span>
                        <p>身分</p>
                    </div>
                    <div class="person-txt">
                        <span class="material-symbols-outlined">
                            @host.email
                        </span>
                        <p>電子郵件地址</p>
                    </div>
                    <div class="person-txt">
                        <span class="material-symbols-outlined">
                            @host.phone
                        </span>
                        <p>電話號碼</p>
                    </div>
                </div>
            </div>
            <div class="content-wrap">
                <h1 class="mb-3 title">嗨!我是 @host.HostName</h1>
                <p>@Html.Raw(host.HostAboutMe)</p>
                <div class="group-iten d-lg-flex flex-wrap">
                @foreach (var item in host.House)
                {
                    <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12 col-12 card-container">
                        @*  <div class="like-btn like-check">
                            <i class="fa-solid fa-heart"></i>
                        </div> *@ 
                        @{
                            string url = $"https://localhost:5001/House/{item.ListingName}";
                        }
                        <a href="@url">
                            <div class="great-owner-marker img-box">
                                <div class="btn-box">
                                </div>
                                <div class="swiper img-swiper">
                                    <div class="swiper-wrapper">
                                        @foreach (var pic in item.ListIMG)
                                        {
                                            <div class="swiper-slide swiperMain">
                                                <img class="swiperImg swiper-lazy" src="@Url.Content(pic.AvatarUrl)">
                                                <div class="swiper-lazy-preloader swiper-lazy-preloader-Airbnb"></div>
                                            </div>                                        }
                                    </div>
                                    <div class="swiper-button-next"></div>
                                    <div class="swiper-button-prev"></div>
                                    <div class="swiper-pagination"></div>
                                </div>
                            </div>
                            <div class="info-group">
                                <p class="info">
                                    <span class="item-loc">@item.ListingName</span>
                                    <span class="info-sub item-distence">@item.Country<i class="mx-2 fa-solid fa-caret-right"></i>@item.City</span>
                                    <span class="item-price">@item.DefaultPrice &nbsp;TWD&nbsp;晚</span>
                                    @if (item.star != null)
                                    {
                                        <span class="item-rate">&#9733;&nbsp @decimal.Round((decimal)item.star, 1)</span>
                                    }
                                    else
                                    {
                                        <span>最新</span>
                                    }

                                </p>
                            </div>
                        </a>
                    </div>
                }
            </div>

        </div>
    </div>
</section>

@*@{
    await Html.RenderPartialAsync("~/Views/Partial/_WishlistPartial.cshtml");
    await Html.RenderPartialAsync("~/Views/Partial/_FilterPartial.cshtml");
}*@
@section header{
    <partial name="_HeaderSearchBarPartial" model="userId" />

}
    @section footer{
    <partial name="_FooterDefaultPartial" />
}
    @section topCSS{
    <link rel="stylesheet" href="~/lib/Swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <!-- myCSS-->
    <link rel="stylesheet" href="~/css/Home/Home.css">
    <link rel="stylesheet" href="~/css/Partial/Lightbox.css.css">
    <link rel="stylesheet" href="~/css/SearchBar/SearchBar.css">
    <link rel="stylesheet" href="~/css/House/HostPage.css">
    <link rel="stylesheet" href="~/css/Login/Login.css">
    <style>
        footer {
            position: static;
        }
    </style>

}
    @section linkJS{
    <script src="~/js/Common/SearchBar.js"></script>
    <!-- Swiper -->
    <script src="~/lib/Swiper/swiper-bundle.min.js"></script>

}
    @section endJS{
    <script src="~/js/house/swiperHost.js"></script>
}